# Ignore node modules, Python cache files, and environment variables
node_modules/
__pycache__/
*.pyc
.env

# Ignore test files and logs
/tests
/logs

# Ignore configuration and data files, but keep .gitkeep for empty directories
configs/*
!configs/.gitkeep
!configs/pricing.json
/input/*
/output/*

ADMIN_API_KEY.env